* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Menu */
.conatiner {
    width: 1440px;
    text-align: center;
    margin: 0 auto;


}

.menu-nav {
    width: 100%;

}

.menu-nav ul {
    display: flex;
    justify-content: space-around;
    margin: 15px;
    align-items: center;
}

.menu-nav a {
    padding: 0 45px;
}

/* Inicio da Pagina */
/*    PageOne       */

.pageone {
    display: flex;
    width: 100%;
    justify-content: center;
  
   
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    padding: 150px 0;

}

.about h4 {
    margin-left: 120px;

}

.btn-input {
    display: flex;
    margin-left: 120px;
}

.btn-input button {
    border: none;
    border-radius: 10px;
    background-color: #E76F51;
    color: #fff;
    width: 100px;
    height: 45px;
    box-shadow: 5px 5px 15px 0px #F4A261;

}

.btn-input p {
    margin: 15px 85px;

}

.icons {
    display: flex;
    width: 488px;
    justify-content: space-around;
    margin-left: 120px;

}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
}

.icon p {
    font-size: 20px;
}


.dish {}

.dish img {
    width: 600px;
    height: 837px;

}